In [56]:
import pandas as pd
import gzip
import json
import numpy as np
import matplotlib.pyplot as plt
from apyori import apriori

In [5]:
def parse(path):
  g = gzip.open(path, 'rb')
  for l in g:
    yield json.loads(l)

In [6]:
def getDF(path):
  i = 0
  df = {}
  for d in parse(path):
    df[i] = d
    i += 1
  return pd.DataFrame.from_dict(df, orient='index')

df = getDF('Office_Products_5.json.gz')

In [7]:
df.head()

,reviewerID,asin,style,verified,reviewText,overall,summary,unixReviewTime,reviewerName,reviewTime,vote,image
0,A2NIJTYWADLK57,0140503528,{u'Format:': u' Board book'},True,kids like story BUT while i really wanted a bo...,4.0,"good story, small size book though",1510012800,cotton clay,"11 7, 2017",NaN,NaN
1,A2827D8EEURMP4,0140503528,{u'Format:': u' Hardcover'},True,Bought this used and it came in great conditio...,4.0,Good,1488844800,emankcin,"03 7, 2017",NaN,NaN
2,APB6087F4J09J,0140503528,{u'Format:': u' Board book'},True,Every story and book about Corduroy is Fantast...,5.0,Best Books for All Children,1466812800,Starbucks Fan,"06 25, 2016",NaN,NaN
3,A2DHERRZIPFU7X,0140503528,{u'Format:': u' Paperback'},True,I purchased this book for my first grade class...,5.0,Great for Math!,1456012800,Caitlyn Jacobson,"02 21, 2016",NaN,NaN
4,A2XCLJRGFANRC,0140503528,{u'Format:': u' Hardcover'},False,Having spent numerous years in an elementary s...,5.0,Love Corduroy,1438473600,E. Ervin,"08 2, 2015",NaN,NaN

In [9]:
rows,columns=df.shape
print('Number of rows: ',rows)
print('Number of columns: ',columns)

('Number of rows: ', 800357)
('Number of columns: ', 12)

In [12]:
#Dropping unused variables
df.drop(['style', 'verified', 'reviewText', 'summary', 'unixReviewTime', 'reviewTime', 'vote'
, 'image'],axis=1,inplace=True)
df.head()

       reviewerID        asin  overall      reviewerName
0  A2NIJTYWADLK57  0140503528      4.0       cotton clay
1  A2827D8EEURMP4  0140503528      4.0          emankcin
2   APB6087F4J09J  0140503528      5.0     Starbucks Fan
3  A2DHERRZIPFU7X  0140503528      5.0  Caitlyn Jacobson
4   A2XCLJRGFANRC  0140503528      5.0          E. Ervin

In [14]:
#Number of unique user id  in the data
print('Number of unique product in Raw data = ', df['asin'].nunique())
# Number of unique product id  in the data
print('Number of unique reviewer ID in Raw data = ', df['reviewerID'].nunique())
print('Number of unique reviewer name in Raw data = ', df['reviewerName'].nunique())

('Number of unique product in Raw data = ', 27965)
('Number of unique reviewer ID in Raw data = ', 101501)
('Number of unique reviewer name in Raw data = ', 81540)

In [ ]:
meta_df = getDF('meta_Office_Products.json.gz')
rows,columns=meta_df.shape
print('Number of rows: ',rows)
print('Number of columns: ',columns)
meta_df.head()

In [ ]:
#Dropping unused variables
meta_df.drop(['tech1', 'description', 'brand', 'rank', 'main_cat', 'similar_item'
, 'date', 'feature', 'image', 'details', 'tech2', 'fit'],axis=1,inplace=True)

In [ ]:
meta_df.head(10)

In [ ]:
# Create also view table
# type(asin) = unicode
also_view = []
for i in range(0, rows):
    item = [meta_df.values[i, 1]]
    av = meta_df.values[i,2]
    if type(av) != float:
        item += av
    also_view.append(item)

In [ ]:
# Create also buy table
also_buy = []
for i in range(0, rows):
    item = [meta_df.values[i, 1]]
    ab = meta_df.values[i, 4]
    if type(ab) != float:
        item += ab
    also_buy.append(item)

https://stackabuse.com/association-rule-mining-via-apriori-algorithm-in-python/

In [ ]:
av_association_rules = apriori(also_view, min_support=0.0005, min_confidence=0.1, min_lift=1, min_length=2)
av_association_results = list(av_association_rules)

In [ ]:
ab_association_rules = apriori(also_buy, min_support=0.0005, min_confidence=0.1, min_lift=1, min_length=2)
ab_association_results = list(ab_association_rules)